.wrapper {
    display: flex;
    align-items: center;
    height: 67px;
    padding: 0 20px;
    position: relative;
}

.wrapper p {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 30px;
}

.wrapper button {
    border: none;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 20px;
}

.back {
    position: absolute;
    left: 23px;
}

@media (max-width: 900px) {
    .wrapper {
        justify-content: center;
    }
    .back {
        left: 15px;
    }
}